*{
  padding : 0px;
  margin: 0px;
  box-sizing: border-box;
}


body{
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}